<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python To-Do</title>
</head>
<body>
    <h2>Hello Flask!</h2>
    <form action="/" method="POST">
        <input type="text" name="task" placeholder="Enter task">
        <button type="submit" formmethod="POST">Add Task</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>

</body>
</html>